.Card{
  position: relative;
  
  display: inline-block;
  box-sizing: border-box;
  width: 500px;
}

.CardTitle {
  position: relative;
  align-items: center;
  text-align: center;
}

.btn{
  position: relative;
}

.btn_in{
  position: relative;
  left: 400px;
  margin: 5px;

}